doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/public/styles.css")
  body
    main.page
      section.card
        h1 Fastify Demo
        p Нажмите кнопку, чтобы отправить запрос на сервер и вывести ответ в консоль браузера.
        button#apiButton.button(type="button") сделать запрос на АПИ
        nav.links
          a.link(href="/users") Перейти к списку пользователей
          a.link(href="/users/create") Создать пользователя
    script(src="/public/main.js")
