doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/public/styles.css")
  body
    main.page
      section.card
        h1 Список пользователей
        if users.length
          ul.user-list
            each user in users
              li.user-item
                span.user-id ID #{user.id}
                strong.user-name= user.name
                a.user-email(href=`mailto:${user.email}`)= user.email
        else
          p Пользователи пока не добавлены.
        nav.links
          a.link(href="/users/create") Добавить пользователя
          a.link(href="/") На главную
